Nginx_*_vhost.conf*
/lenta/html/config.php
Backup * of *
/favicon.ico
lenta/logs/*
lenta/html/custom/links.php
lenta/html/custom/homeboards.php
CHANGES
/push/.env
node_modules
package-lock.json
/misc/*